/* These are the names and variations of colors you will need in order to use the 
 * rest of the components in this document.
 * They encompass light mode, dark mode, high-contrast, etc.
 * 
 * This should also enable overrides based on selection.
 */
/* 
      Default color scheme.
      Default is light scheme.

      Use HSL color format for any UI elements. 
      Define the hue and the default saturation and lightness levels.
   */
@interactive-color-adjustment: 5%;
@color-contrast-adjustment: 10%;

@gray: hsl(217, 5%, 50%);
//@darkgray: hsl(217, 5%, 20%);
@white: hsl(217, 5%, 95%);
@black: hsl(217, 5%, 3%);


@primary: hsl(217, 80%, 38%);
@primary-dark: darken(@primary, (5% + @color-contrast-adjustment));

@action: hsl(191, 70%, 65%);

/* The focus color MUST be contrast-y enough to be clearly visible in all contexts. DO NOT try to hide it. */
@focus-color: hsl(250, 90%, 60%);

@error-color: hsl(0, 75%, 50%);

@shadow-color: hsla(217, 5%, 5%, 30%);
@shadow-offset: 1px 1px;
@shadow-size: 6px;
@shadow: @shadow-offset @shadow-size @shadow-color;
@shadow-hover: @shadow-offset (@shadow-size * 1.5) @shadow-color;
@shadow-pressed: inset @shadow-offset @shadow-size @shadow-color;

@background: darken(@primary, 32%);
@text-color: @white;

/* preference stuff */
@media screen and (prefers-color-scheme:light) {
   @background: @white;
   @text-color: @black;
}

@media screen and (prefers-contrast:more) {
   @color-contrast-adjustment: 15%;
   @interactive-color-adjustment: 10%;
   @shadow-color: hsla(217, 5%, 5%, 50%);
}

html {
   background: @background;
   color: @text-color;
}

main {
   background: @background;
}