/* This is my crazy colors css meant to help distinguish where html classes/tags are.

Do not use this for production  */

header, footer {
   background: pink;
}

main {
   background: lightblue;
}

section:nth-of-type(2n) {
   background: beige;
}