footer {
   background: @footer-header-color;
   color: @footer-header-text-color;

   @text-color: @footer-header-text-color;
   margin-top: (2 * @padding);

   > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1rem;
      gap: 1rem;
   }
}

// tweak: { "type" : "value", "title" : "Logo Max Width", "min" : 50, "max" : 250, "category" : "Header and Footer", "target" : ".logo" }
@logo-max-width: 150px;
// tweak: { "type" : "value", "title" : "Logo Max Height", "min" : 50, "max" : 250, "category" : "Header and Footer", "target" : ".logo" }
@logo-max-height: 100px;
img.logo {
   max-width: @logo-max-width;
   max-height: @logo-max-height;
}

.contact-block {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: max-content;

   address a:has(> svg) {
      display: flex;
      gap: .5em;
      align-items: center;

      svg {
         height: .8em;
      }
   }

   svg {
      fill: @text-color;
   }
}

.social-links {
   list-style: none;
   display: flex;
   gap: 1em;
   height: 2em;
}

.business-hours {
   display: grid;
   grid-template-columns: max-content max-content;
   gap: 0 1em;

   p {
      margin: 0;
   }
}