/**
 * Sets some defaults for text and spacing.
 * Implements the correct overrides for some attributes.
**/

// tweak: { "type" : "value", "title" : "General Padding", "min" : 0, "max" : 5, "category" : "General Styles" }
@padding: 1.5rem;

// tweak: { "type" : "value", "title" : "Text Padding X", "min" : 0, "max" : 5, "category" : "Text Styles" }
@text-padding-x: 1em;
// tweak: { "type" : "value", "title" : "Text Padding Y", "min" : 0, "max" : 5, "category" : "Text Styles" }
@text-padding-y: .5em;
@text-padding: @text-padding-y @text-padding-x;

// tweak: { "type" : "value", "title" : "Button Padding X", "min" : 0, "max" : 5, "category" : "Buttons & Links" }
@button-padding-x: 1em;
// tweak: { "type" : "value", "title" : "Button Padding Y", "min" : 0, "max" : 5, "category" : "Buttons & Links" }
@button-padding-y: .5em;
@button-padding: @button-padding-y @button-padding-x;

// tweak: { "type" : "value", "title" : "Rounded Corner Radius", "min" : 0, "max" : 5, "category" : "General Styles" }
@radius: 1rem;
// tweak: { "type" : "value", "title" : "Corner Radius", "min" : 0, "max" : 10, "category" : "Buttons & Links" }
@button-radius: .5rem;

// tweak: { "type" : "value", "title" : "Maximum Central Content Width", "min" : 300, "max" : 2000, "step" : 50, "category" : "General Styles" }
@main-content-width-px: 1000px;
@main-content-width: min(@main-content-width-px, 100%);

// tweak: { "type" : "value", "title" : "Non User Initiated Animation Time", "min" : 0, "max" : 5, "category" : "Motion" }
@transition-time: .5s;
// tweak: { "type" : "value", "title" : "User Initiated Animation Time", "min" : 0, "max" : 5, "category" : "Motion" }
@transition-time-user-init: .2s;

// tweak: { "type" : "value", "title" : "Outline Width", "min" : 1, "max" : 10, "category": "Focus Styles" }
@focus-outline-width: 2px;
// tweak: { "type" : "value", "title" : "Outline Offset", "min" : -1, "max" : 1, "category": "Focus Styles" }
@focus-outline-offset: .2rem;

/* This stores variables that may change during the cascade. */
:root {
   font-size: 100%;
   font-family: sans-serif;

   --lightbox-height: (100vh - (2 * @padding));
   --lightbox-width: (100vw - (2 * @padding));

   .default-color-scheme(@background);

   header, footer {
      .default-color-scheme(@footer-header-color);
   }
}

.default-color-scheme(@background-color) {
   background: @background-color;
   @text-color: contrast(@background-color, @text-color-dark, @text-color-light);
   color: @text-color;
   fill: @text-color;
}

/* preference stuff */
@media screen and (prefers-color-scheme:light) {}

@media screen and (prefers-contrast:more) {}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-margin: @padding;
}

/* Typical accessibility settings */
@media (prefers-reduced-motion) {
   * {
      transition: 0s !important;
   }
}

[hidden] {
   display: none;
   visibility: hidden !important;
}

.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

:focus-visible {
   outline: @focus-outline-width solid @focus-color;
   outline-offset: @focus-outline-offset;
}

/* Text defaults */

// tweak: { "type" : "font", "title" : "Body Font", "category" : "Body Text" }
.paragraph {
   font-family: sans-serif;

   font-size: 1rem;
   line-height: 1.3em;
   letter-spacing: 0;

   margin: .5em 0;
}
 
p {
   .paragraph();
}

// tweak: { "type" : "value", "title" : "Small Text Size", "min" : 50, "max" : 100, "category" : "Body Text" }
@small-text-reduction: 80%;
.small-text {
   font-size: (1rem * (@small-text-reduction / 100));
}

// tweak: { "type" : "font", "title" : "Level 1", "category" : "Headings" }
.heading-level1 {
   font-family: sans-serif;
   font-weight: normal;
   
   font-size: 3.5rem;
   line-height: 1.2em;
   letter-spacing: .1em;

   white-space: pre-line;
   margin-bottom: .2em;
}

// tweak: { "type" : "font", "title" : "Level 2", "category" : "Headings" }
.heading-level2 {
   font-family: sans-serif;
   font-weight: normal;

   font-size: 2.8rem;
   line-height: 1.2em;
   letter-spacing: .1em;

   white-space: pre-line;
   margin-bottom: .1em;
}

// tweak: { "type" : "font", "title" : "Level 3", "category" : "Headings" }
.heading-level3 {
   font-family: sans-serif;
   font-weight: normal;
   
   font-size: 2rem;
   line-height: 1.2em;
   letter-spacing: .1em;

   white-space: pre-line;
   margin-bottom: .1em;
}

// tweak: { "type" : "font", "title" : "Level 4", "category" : "Headings" }
.heading-level4 {
   font-family: sans-serif;
   font-size: 1.2rem;
   font-weight: bold;

   line-height: 1.2em;
   letter-spacing: 0em;

   margin-bottom: .1em;
}

h1 { .heading-level1(); }

h2 { .heading-level2(); }

h3 { .heading-level3(); }

h4 { .heading-level4(); }

h5 {
   line-height: 1.2em;
}

h6 {
   line-height: 1.2em;
}

address {
   font-style: normal;
}

img {
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
   object-position: center;
}


.a-mixin() {
   color: @action;
   text-decoration: underline;
   border-radius: 1px;

   &:hover {
      color: lighten(@action, @interactive-color-adjustment);
   }

   &:focus-visible {
      outline-offset: 2px;
   }
}

a:not(.button) {
   .a-mixin();
}

a.external::after {
   display: block;
   content: "";
   width: 1em;
   height: 1em;
   background-color: @action;
   mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDZINkM0Ljg5NTQzIDYgNCA2Ljg5NTQzIDQgOFYxOEM0IDE5LjEwNDYgNC44OTU0MyAyMCA2IDIwSDE2QzE3LjEwNDYgMjAgMTggMTkuMTA0NiAxOCAxOFYxNE0xNCA0SDIwTTIwIDRWMTBNMjAgNEwxMCAxNCIgc3Ryb2tlPSIjNEE1NTY4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==");
   mask-size: contain;
   mask-repeat: no-repeat;
}

.horizontal-rule {
   border: .5px solid @white;
   padding: 0;
   margin: 2rem -.5rem;
}
hr {
   .horizontal-rule();
}



/* Buttons */
button, a.button {
   font: inherit;
   width: fit-content;
   min-width: 48px;
   min-height: 48px;
   
   cursor: pointer;
   
   display: flex;
   align-items: center;
   gap: .3em;

   text-decoration: none;

   transition: @transition-time-user-init ease-out;
   .default-color-scheme(@action);

   padding: @button-padding;
   border-radius: @button-radius;
   border: none;
   box-shadow: @shadow;

   &.secondary {
      background: transparent;
      color: @action;
      box-shadow: inset 0 0 0 max(2px, .08em) @action;
   }

   &.icon-button {
      padding: 0;
      gap: 0;
      justify-content: left;

      .icon {
         font-family: system-ui;
         display: flex;

         align-items: center;
         justify-content: center;

         margin: .5rem;
      }

      .text {
         margin: .5em;
      }

      &:has(.text.visually-hidden) {
         justify-content: center;
      }
   }

   &.disclosure {
      gap: .5em;

      &:not(.icon-button)::after {
         content: "❯";
      }

      &.icon-button, &:not(.icon-button)::after {
         transition: transform @transition-time-user-init ease-in-out;
      }

      &[aria-expanded="false"] {
         &:not(.icon-button)::after, &.icon-button .icon {
            transform: rotate(.25turn);
         }
      }

      &[aria-expanded="true"] {
         &:not(.icon-button)::after, &.icon-button .icon {
            transform: rotate(-.25turn);
         }
      }
   }



   &:not([disabled]):not([aria-disabled]) {
      &:hover {
         background-color: lighten(@action, @interactive-color-adjustment);
         box-shadow: @shadow-hover;
         color: inherit;
      }
   
      &:active {
         background-color: darken(@action, @interactive-color-adjustment);
         box-shadow: @shadow-pressed;
         color: inherit;
      }
   }

   &[disabled], &[aria-disabled] {
      pointer-events: none;
      .default-color-scheme(desaturate(@action, @interactive-color-adjustment));
      box-shadow: none;
      transition: 0s;
   }
}

.button-set {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

/* Navigation menu in header */
header {
   nav {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1rem;

      ul {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         list-style-type: none;

         li {
            height: 100%;
            z-index: 100;
         }

         button.disclosure, a.button {
            background-color: transparent;
            color: @action;
            border-radius: 0;
            height: 100%;
            width: 100%;
            box-shadow: none;

            outline-offset: (-1 * abs(@focus-outline-offset));

            &[aria-current="page"] {
               text-decoration: underline;
               color: unset;
               text-underline-offset: .2em;
            }

            &:not([disabled]):not([aria-disabled]):hover {
               box-shadow: none;
            }
         }

         button.disclosure[aria-expanded="true"] {
            background-color: @action;
            color: @button-text-color;
         }
      }

      .sub-nav > ul {
         position: absolute;
         flex-direction: column;
         align-items: stretch;
         background-color: @darkgray;
      }

      .logo {
         max-height: 60px;
         max-width: 175px;
         padding: .5rem;
      }
   }
}


/* Main content grid */
.main-content-grid {
   display: grid;
   grid-template-columns: 1fr @main-content-width 1fr;
   > * {
      grid-column: 2;
      padding: @padding;
   }
}

main {
   &:has(.full-section) [role="main"], 
   &:not(:has(.full-section))  {
      .main-content-grid();
   }

   [role='main']:has(> hr:last-child) {
      padding-bottom: 0;
   }
}

html:has(.modal-dialog[open]) {
   overflow: hidden;
}

/* make things centered */
.centered {
   margin: 0 auto;
   text-align: center;
}

// tweak: { "type" : "color", "title" : "Dialog Color", "category" : "Dialog" }
@dialog-color: hsl(217, 0, 100%);
// tweak: { "type" : "color", "title" : "Backdrop Color", "category" : "Dialog" }
@dialog-backdrop-color: hsla(217, 0, 0, 20%);
// tweak: { "type" : "value", "title" : "Backdrop Blur", "min" : 0, "max" : 10, "step" : 1, "category" : "Dialog" }
@dialog-backdrop-blur: 2px;

.modal-dialog {
   width: clamp(100px, 30rem, var(--lightbox-width));
   max-height: var(--lightbox-height);
   margin: auto;

   .default-color-scheme(@dialog-color);

   border:none;
   border-radius: @radius;
   box-shadow: @shadow;

   overflow: hidden;
   overscroll-behavior: contain;

   &::backdrop {
      background: @dialog-backdrop-color;
      backdrop-filter: blur(@dialog-backdrop-blur);
      overscroll-behavior: contain;
   }

   > div {
      overflow: hidden;
      display: grid;
      grid-template-rows: auto 1fr;
      max-height: inherit;
   }

   header {
      position: sticky;
      top: 0;
   
      padding: @text-padding;
      width: 100%;
      height: min-content;
   
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: inherit;

      button {
         background: @dialog-color;
      }
   }

   .dialog-body {
      padding: @padding;
      overflow: auto;
   }
}


dialog {
   .modal-dialog();
}

/**
 * Form fields defaults.
**/

/* Reset stylings */
select, input, textarea {
   font: inherit;
}

fieldset {
   border: none;
}


/* Field baseline */
.form-field {
   display: flex;
   flex-direction: column;
   min-width: 10em;

   width: 100%;
   gap: .3rem;
   margin-top: .5rem;
}

.form-field:has(.field-input[hidden]) {
   display: none;
}

.field-required {
   display: none;
   color: @error-color;
   padding: 0 .3em;
}

.field-label:has(~ .field-input[required]) .field-required {
   display: inline-block;
}

.field-input {
   transition: .2s;
   border-radius: 5px;
   width: 100%;
   padding: .1em .2em;

   background: transparent;
   border: max(1px, .04em) solid @gray;
   border-bottom: max(1.5px, .06em) solid @darkgray;  
}

.field-input:focus-visible {
   outline-offset: 0;
}

.field-error, .fieldset-error {
   color: @error-color;
   transition: .2s, visibility 0s;
   visibility: hidden;
   height: 0;
}







/* Dropdown Fields */
select.field-value {
   border: max(1px, .04em) solid @darkgray;
}


/* Checkboxes and Radios */
.form-field:has(> input[type=checkbox]), .form-field:has(> input[type=radio]) {
   display: inline-block;
}

.field-input[type=checkbox], .field-input[type=radio] {
   width: fit-content;
   accent-color: @action;
}

.field-input[type=checkbox]:focus-visible, .field-input[type=radio]:focus-visible {
   outline-offset: 2px;
}

.fieldset-radio[aria-required=true] .field-required, .fieldset-checkbox[data-required] .field-required {
   display: inline-block;
}

fieldset[aria-invalid=true]:not([pristine]) .fieldset-error {
   visibility: visible;
   height: fit-content;
}




/* Fieldsets */
fieldset {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 0 1rem;
   margin-top: .5rem;
}

fieldset:has(input[required]) legend > .field-required {
   display: inline-block;
}

/* Date variant of Fieldsets */
.fieldset-date {
   display: grid;
   grid-template-columns: repeat(3, auto) 1fr;
}

.fieldset-date > *:not(.form-field) {
   grid-column: 1 / -1;
}

.fieldset-date .form-field:has(input[autocomplete~=bday-day]), .fieldset-date .form-field:has(input[autocomplete~=bday-month]) {
   min-width: 2em;
   width: 3em;
}

.fieldset-date .form-field:has(input[autocomplete~=bday-year]) {
   min-width: 3em;
   width: 4em;
}

.fieldset-date:has(input:invalid:not([pristine])) .field-error {
   visibility: visible;
   height: fit-content;
}



/* Textarea */
textarea {
   resize: vertical;
}


/* Overall form errors don't show when the form has not been submitted nor if all inputs are valid. */
.form-error {
   border: max(2px, .08em) solid @error-color;
   color: @error-color;
}

form[pristine] .form-error, form:not(:has(:invalid)) .form-error {
   display: none;
}


/* Show errors when input field is invalid and has been edited */
.field-input:invalid:not([pristine]) ~ .field-error, 
form:not([pristine]) .field-input:invalid ~ .field-error {
   visibility: visible;
   height: fit-content;
}

/* Style invalid field inputs with red unless the field is focused, the field is pristine, or there has been a manual override */
.field-input:invalid:not([pristine]):not(:focus):not(.error-override), 
form:not([pristine]) .field-input:invalid:not(:focus):not(.error-override) {
   border-color: @error-color;
}

/* Remove red from error text if the field is focused or if there is a manual override */
.field-input:focus ~ .field-error,
.field-input.error-override ~ .field-error {
   color: inherit;
}



/** This css is specifically for address fields **/
.address-fieldset .form-field:has(.field-input[autocomplete*="address-level"]),
.address-fieldset .form-field:has(.field-input[autocomplete*="postal-code"]) {
   flex: 1 1 0;
   max-width: 15em;
}

.address-fieldset .form-field[hidden] {
   display: none;
}