/* These are ma-specific styles.
Not for color changes; these are for structural changes.
 */
.hero-banner {
   width: 100%;
   height: min(15rem, 40vh);
   grid-column-start: 1;
   grid-column-end: -1;

   display: grid;
   grid-template-columns: inherit;
   grid-template-rows: 1fr auto 1rem;

   padding: 0;
   margin-bottom: (2 * @padding);
   background-color: @primary-dark; //if image not provided

   .banner-filter {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: -1;

      pointer-events: none;
   }

   > img {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: -1;

      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .banner-text {
      img {
         height: 3em;
         width: auto;
      }

      h1 {
         margin-top: 0;
      }

      z-index: 10;
      grid-row-start: 2;
      grid-column-start: 2;
      padding: @padding;
   }
}

.homepage .hero-banner {
   height: 75vh;
   grid-template-rows: 1fr auto 2rem;

   .banner-filter {
      background-image: linear-gradient(0deg, @black, transparent);
      background-blend-mode: normal;
      opacity: .7;
   }

   .banner-text {
      width: max-content;
      justify-self: end;
      
      h1, p {
         text-shadow: @shadow;
      }
   }
}

.centered-section {
   text-align: center;

   .button-set {
      justify-content: center;
   }
}

section[role="main"]:has(.full-section) {
   grid-column-start: 1;
   grid-column-end: -1;
   display: grid;
   grid-template-columns: inherit;
   padding: 0;

   > *:not(.full-section) {
      grid-column: 2;
      padding: @padding;
   }
}
 
/* full width container with 2 cols. */
.full-section {
   width: 100%;
   
   border: max(2px, .08rem) solid @primary-dark;
   border-left: none;
   border-right: none;
   box-shadow: 0 0 1rem .1rem @black;

   background: @black;

   grid-column-start: 1;
   grid-column-end: -1;

   display: grid;
   grid-template-columns: inherit;
   padding: 0;
   margin: @padding 0;

   > div {
      grid-column: 2;
      display: grid;
      justify-content: center;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, max(18rem, 45%));

      > * {
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }

      .padded {
         padding: @padding;
      }
      
      @media only screen and (max-width:40rem) {
         display: flex;
         flex-direction: column;
         align-items: center;

         > div:has(img) {
            order: -1;
            * {
               max-height: 15rem;
            }
         }
      }
   }

   /* Unset some padding if necessary */
   .sqs-image-shape-container-element {
      padding-bottom: 0 !important;
      img {
         position: static !important;
      }
   }
}

/* Item */
.staff-standalone {
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* Deal with mobile sizing later */
   grid-column: 2;

   background-image: linear-gradient(.25turn, transparent, transparent 15%, @primary 15%, @primary 20%, transparent 20%);

   .staff-image {
      display: grid;
      img {
         align-self: end;
      }
   }

   .staff-text {
      display: flex;
      flex-direction: column;
      padding: (2 * @padding) 0;

      h2 {
         border-bottom: max(2px, .08em) solid @primary;
      }

      h3 {
         order: -1;
      }

      h4 {
         margin-top: 1rem;
      }

      ul, ol {
         list-style-type: none;

         p::before {
            content: "" !important;
         }
      }
   }
}

/* Collection */
.staff-list {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   list-style-type: none;
   
   .staff {
      display: grid;
      grid-template-rows: 1fr auto 0fr;
      height: 350px;

      background: @black;
      box-shadow: @shadow;
      border-radius: @radius;
      overflow: hidden;
      transition: @transition-time;

      .staff-image {
         overflow: hidden;
         object-fit: cover;
         object-position: top;
         width: 100%;
      }

      .disclosure-header {
         width: 100%;
         justify-content: space-between;
         border-radius: 0;

         background: @black;
         color: @action;

         > * {
            color: unset;
         }

         button {
            outline-offset: -.5rem;
         }
      }

      .disclosure-body {
         overflow: auto;
         color-scheme: dark;

         display: block;
         padding: 0 1rem;
         transition: visibility step-end @transition-time, all @transition-time;
         border-top: 2px solid @white;
         opacity: 0;
      }

      &:has(button[aria-expanded="true"]) {
         grid-template-rows: 0fr auto 1fr;

         .disclosure-body {
            padding: @padding;
            transition: visibility step-start @transition-time, opacity @transition-time ease-out, all @transition-time;
            opacity: 1;
         }
      }
   }
}

.table-wrapper {
   overflow: auto;
   color-scheme: dark;

   caption {
      text-align: left;
   }

   td, th {
      text-align: center;
   }

   tr > th {
      text-align: right;
   }

   th, td {
      vertical-align: center;
      padding: @text-padding;
   }

   tr {
      &:nth-child(even) {
         background-color: darken(@primary, (2.5 * @color-contrast-adjustment));
      }
      &:nth-child(odd) {
         background-color: darken(@primary, (2 * @color-contrast-adjustment));
      }
      &:first-of-type {
         background-color: @primary;
      }
   }
}


/* Class pages*/
.class-summary {
   .full-section-right {
      padding: 1.5rem 0;
   }
   ul {
      list-style-type: none;
      margin-bottom: 1rem;

      li {
         font-size: 1.1em;
         line-height: 1.3em;
      }
   }

   .button:last-child {
      margin: 1rem 0;
   }
}


.query-class-container {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;

   margin: 1.5rem 0;
   justify-content: center;

   .query-class-header {
      width: 100%;
      ~ .query-class-header {
         margin-top: 1.5rem;
      }
   }

   .query-class {
      text-align: left;

      > div {
         border-top: 2px solid @primary;
         border-bottom: 2px solid @primary;
         padding: 1rem;
         min-width: 50%;
      
         .class-times {
            table-layout: fixed;
            text-align: center;
      
            th {
               font-weight: bold;
               width: 33%;
            }
      
            th, td {
               padding: .125em .5em;
            }
      
            th + th, td + td {
               border-left: 2px solid @primary;
            }
         }
      }     
   }
}

/* Student resources page */
#curriculum {
   *[role="tablist"] button {
      flex-grow: 0;
      padding: 1.5rem 1rem;
   }

   button.disclosure {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      background: transparent;
      padding: .5rem 1rem;
      border-top: 2px solid @primary-dark;

      justify-content: space-between;

      &:first-of-type {
         margin-top: 1.5rem;
      }

      &:last-of-type {
         transition: border-bottom 0s;
      }

      &:last-of-type[aria-expanded="false"], &:last-of-type + div {
         border-bottom: 2px solid @primary-dark;
      }

      + div {
         padding: 1rem;
         padding-top: 0;
      }
   }

   .curriculum-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 80px);
      grid-auto-rows: 80px;
      gap: 1rem;

      margin: .8rem 0 1rem 0;
      list-style-type: none;

      button[role="tab"] {
         padding: 1.5em 1em;
         flex-grow: 0;
      }

      .curriculum-item {
         display: flex;
         align-items: center;
         justify-content: center;

         height: 100%;
         width: 100%;

         background-size: cover;
         border-radius: 50%;
         box-shadow: @shadow;
         text-decoration: none;
         font-weight: bold;
         text-align: center;
         padding: .2em;

         transition: .2s;

         &:not(.black) {
            color: @white;

            &:hover {
               color: hsla(217, 5%, lightness(@white), .6);
            }
         }

         &.black-text {
            color: @black;
         
            &:hover {
               color: hsla(217, 5%, lightness(@black), .6);
            }
         }

         &:active {
            transform: unset;
            box-shadow: inset @shadow;
         }
      }
   }

   ul:not(.curriculum-list) {
      padding: .5rem 1.5rem;
      line-height: 1.5em;
   }
}

#resource-exercises .row .col {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1rem;
}

/* Schedule */
#schedule-pdfs {
   text-align: right;
}

#check-in-guide, #intro-lesson-form-bottom-editable { //intro page
   .sqs-col-12 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.5rem;

      > *:not(.image-block) {
         grid-column-start: 1;
         grid-column-end: -1;
      }
   }
}

/* Belt Promotion Page */
#belt-promotion-intro {
   text-align: center;
}

.belt-promotion-programs {
   display: grid;
   grid-auto-rows: 20rem;
   grid-template-columns: repeat(auto-fill, 17rem);
   justify-content: center;
   gap: 1.5rem;
   margin: 3rem 0;

   > section {
      padding: @padding;
      text-align: center;
      border-radius: @radius;
      border: 2px solid @primary;
      max-width: 300px;

      display: grid;
      grid-template-rows: repeat(3, auto) 1fr;
      justify-content: center;
      gap: .5rem;

      > *:last-child {
         align-self: end;
         justify-self: center;
      }
   }

   ul {
      list-style-type: none;
      columns: 2;
   }

   .past {
      color: darken(@text-color, 50%);
   }
}

#belt-promotion-form {
   .form-field:has(.field-input[disabled]) {
      display: none;
   }
}


// Contact us page
.aside-section {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;

   section:has(#contact-page-text) {
      flex-grow: 1;
      width: min-content;
      min-width: 50%;
      flex-basis: 50%;
   }
}

#contact-aside {
   padding: 1.5rem;
   background: @primary-dark;
   width: min-content;
   flex-basis: 0;
   flex-grow: 1;

   display: flex;
   flex-wrap: wrap;
   gap: 1rem;

   > div:not(.contact-block) {
      flex-grow: 1;
      min-width: 150px;
   }
}

[role='main']:has(> hr:last-child) {
   padding-bottom: 0;
}

.have-questions {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   padding-top: 0;
}

/* Homepage */
#program-tabs {
   --tab-color-foreground: @primary-light;
   --tab-color-background: @primary-dark;

   div[role="tabpanel"]:not([hidden]) {
      height: fit-content;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr minmax(50px, 1fr);

      .text {
         grid-column-end: -1;
         grid-row: 1;
         width: clamp(50%, 200px, 25em);
         justify-self: end;
      }

      img:not(.logo) {
         grid-column-start: 1;
         grid-column-end: -1;
         grid-row-start: 1;
         grid-row-end: -1;
         align-self: end;
         justify-self: start;

         max-height: 300px;
         width: 70%;
         object-position: bottom left;

         position: relative;
         left: -@padding;
         bottom: -@padding;
      }

      img.logo {
         grid-column-end: -1;
         grid-row: 2;
         align-self: end;
         justify-self: end;

         max-width: 100px;
         max-height: 70px;

         filter: drop-shadow(0, 0, 3px, @shadow-color);
      }
   }
}

#hompage-summary-section {
   display: flex;
   flex-direction: column;
   gap: 5rem;

   > div {
      max-width: 550px;
   }
}