/* These are ma-specific styles.
Not for color changes; these are for structural changes.
 */

.full-section {
   width: 100%;
   
   border: max(2px, .08rem) solid @primary-dark;
   border-left: none;
   border-right: none;
   box-shadow: 0 0 1rem .1rem @black;

   background: @black;

   grid-column-start: 1;
   grid-column-end: -1;

   display: grid;
   grid-template-columns: inherit;
   padding: 0;
   margin: @padding 0;

   > div {
      grid-column: 2;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, max(18rem, 45%));

      > div:not(:has(.image-block)) {
         padding: @padding;
      }

      > div:has(.image-block) * {
         height: 100%;
      }
      
      @media only screen and (max-width:40rem) {
         display: flex;
         flex-direction: column;
         align-items: center;

         > div:has(.image-block) {
            order: 0;
            * {
               max-height: 15rem;
            }
         }
      }
   }

   /* Unset some padding */
   .sqs-image-shape-container-element {
      padding-bottom: 0 !important;
      img {
         position: static !important;
      }
   }
}


.staff {
   
}

