/* Remove default squarespace styling */
[class*=sqs-col] .sqs-block {
   padding: unset !important;
   width: unset;
}

.sqs-layout > .sqs-row {
   margin: unset !important;
}

body:not(.image-block-stack-dynamic-font-sizing) .sqs-block-image .design-layout-stack {
   .image-title p, .image-subtitle p {
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      text-transform: inherit;
      line-height: 1.2em;
      a {
         .a-mixin();
      }
   }

   .image-title-wrapper + .image-subtitle-wrapper .image-subtitle {
      margin-top: .5em;
   }

   .image-title p {
      .heading-level4();
   }
}

.horizontalrule-block {
   margin: 1.5rem 0;
}

.sqs-row:has(> .col:not(.span-12)) {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;

   &::before, &::after {
      content: unset;
   }

   > .col {
      width: min-content;
      flex-grow: 1;
      flex-basis: 0;
   }
}

.spacer-block > .sqs-intrinsic {
   padding: 0 !important; //otherwise, spacer blocks are double height.
}